<!doctype html>
<html lang="en">

<head>
  {{>headerLinks}}

</head>

<body>

  <!-- NAVBARS -->
  {{>navbar}}

  <!-- STUDY MATERIAL -->


  <div class="py-5 text-center my-4" id="sbg">
    <img class="d-block mx-auto mb-2 logo" src="./img/College Forest2.png" alt="" width="72" height="72">
    <h2 style="color: whitesmoke;">Everything You Need is Here!!!</h2>
    <p class="lead"style="color: whitesmoke;">“Give me six hours to chop down a tree and I will spend the first four sharpening the axe.”
      <br> ― Abraham Lincoln
    </p>
  </div>


  {{!-- DATA --}}
  <ul class="filter-links">
    {{!-- <li><a href="">All</a></li> --}}
    <li><a href="">CSE</a></li>
    <li><a href="">ECE</a></li>
    <li><a href="">MECH</a></li>
    <li><a href="">BIOTECH</a></li>
  </ul>


  <div class="filter-sections">
    {{!-- CSE --}}
    <a href="/cse1">
      <div class="cse">sem 1</div>
    </a>
    <a href="/cse2">
      <div class="cse">sem 2</div>
    </a>
    <a href="/cse3">
      <div class="cse">sem 3</div>
    </a>
    <a href="/cse4">
      <div class="cse">sem 4</div>
    </a>
    <a href="/cse5">
      <div class="cse">sem 5</div>
    </a>
    <a href="/cse6">
      <div class="cse">sem 6</div>
    </a>
    <a href="/cse7">
      <div class="cse">sem 7</div>
    </a>
    <a href="/cse8">
      <div class="cse">sem 8</div>
    </a>

    {{!-- ECE --}}

    <a href="/ece1">
      <div class="ece">sem 1</div>
    </a>
    <a href="/ece2">
      <div class="ece">sem 2</div>
    </a>
    <a href="/ece3">
      <div class="ece">sem 3</div>
    </a>
    <a href="/ece4">
      <div class="ece">sem 4</div>
    </a>
    <a href="/ece5">
      <div class="ece">sem 5</div>
    </a>
    <a href="/ece6">
      <div class="ece">sem 6</div>
    </a>
    <a href="/ece7">
      <div class="ece">sem 7</div>
    </a>
    <a href="/ece8">
      <div class="ece">sem 8</div>
    </a>

    {{!-- MECH --}}
    <a href="/mech1">
      <div class="mech">sem 1</div>
    </a>
    <a href="/mech2">
      <div class="mech">sem 2</div>
    </a>
    <a href="/mech3">
      <div class="mech">sem 3</div>
    </a>
    <a href="/mech4">
      <div class="mech">sem 4</div>
    </a>
    <a href="/mech5">
      <div class="mech">sem 5</div>
    </a>
    <a href="/mech6">
      <div class="mech">sem 6</div>
    </a>
    <a href="/mech7">
      <div class="mech">sem 7</div>
    </a>
    <a href="/mech8">
      <div class="mech">sem 8</div>
    </a>

    {{!-- BIO TECH --}}

     <a href="/biotech1">
      <div class="biotech">sem 1</div>
    </a>
    <a href="/biotech2">
      <div class="biotech">sem 2</div>
    </a>
    <a href="/biotech3">
      <div class="biotech">sem 3</div>
    </a>
    <a href="/biotech4">
      <div class="biotech">sem 4</div>
    </a>
    <a href="/biotech5">
      <div class="biotech">sem 5</div>
    </a>
    <a href="/biotech6">
      <div class="biotech">sem 6</div>
    </a>
    <a href="/biotech7">
      <div class="biotech">sem 7</div>
    </a>
    <a href="/biotech8">
      <div class="biotech">sem 8</div>
    </a>

   



  </div>




  <hr class="featurette-divider">
  <!-- Footer -->
  {{>footer}}

<!-- Modal -->
    <section>
        <div class="modal fade" id="webDModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Web Development</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        To Join Our Community Fill The form of Joining Community.
                        Application open till 31th July 2021.
                        <br>
                        <hr>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#joinModal">Join Community</button>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="andrModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Android Development</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        To Join Our Community Fill The form of Joining Community.
                        Application open till 31th July 2021.
                        <br>
                        <hr>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#joinModal">Join Community</button>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="machModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Machine Learning</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        To Join Our Community Fill The form of Joining Community.
                        Application open till 31th July 2021.
                        <br>
                        <hr>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#joinModal">Join Community</button>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {{!-- join community Modal --}}
        <div class="modal fade" id="joinModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Joining Form</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="join_form">


                            <form action="https://send.pageclip.co/TB39XKzlgXtBlWHLbSdT6eFbBH3a0wSo"
                                class="pageclip-form" method="post">
                                <!-- Replace these inputs with your own. Make sure they have a "name" attribute! -->
                                <input type="text" name="name" value="" placeholder="Enter Your Name" />
                                <br>
                                <br>
                                <input type="email" name="email" value="" placeholder="Enter Your Email" />
                                <br>
                                <br>
                                <input type="number" name="number" placeholder="contact number">
                                <br><br>
                                <h4>Introduce yourself</h4>
                                <textarea name="intro" rows="5" cols="50">Introduce yourself Briefly.</textarea>
                                <br><br>
                                <!-- radio buttons -->
                                <h4>choose community</h4>


                                <input type="radio" name="Community" value="web development" id="wd" checked />
                                <label htmlFor="tarantula">Web Development</label>
                                <br>
                                <input type="radio" name="Community" value="android development " id="ad" />
                                <label htmlFor="turtle">Android Development</label>
                                <br>
                                <input type="radio" name="Community" value="machine learning" id="ml" />
                                <label htmlFor="turtle">Machine Learning</label>
                                <br>
                                <hr>
                                <!-- This button will have a loading spinner. Keep the inner span for best results. -->
                                <button type="submit" class="pageclip-form__submit button_join button2">
                                    <span>Submit</span>
                                </button>
                            </form>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
 
  <!-- Optional JavaScript; choose one of the two! -->

  <script src="js/main.js"></script>
  <script>
    $(document).ready(function () {
      datahide.classList.add("data_hide");
      datahide.classList.add("vh");
    });


  </script>


  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>

</html>